<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<a href="../cute/">home</a>
<p style="color:red;size:12">{{ auth_error }}</p>

<form action="" method="post">
    <div style="background-color:rgb(240,255,240);height:1200px;width:1200px;float:left;">
        <div>
            <b>old_password</b>
            <input type="password" name="old_password" size="12" style="width:300px;height:20;">
            <P style="color:red;">{{ form.old_password.errors }}</P>
        </div>
        <div>
            <b>new_password</b>
            <input type="password" name="new_password" size="12" style="width:300px;height:20;">
            <P style="color:red;">{{ form.new_password.errors }}</P>
        </div>
        <div>
            <b>again_password</b>
            <input type="password" name="again_password" size="12" style="width:300px;height:20;">
            <P style="color:red;">{{ form.old_password.errors }}</P>
        </div>
        <input style="margin-left:30px;margin-bottom:20px;" type="submit" value="提交">
    </div>

</form>
</body>
</html>