<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<a href="../cute/">home</a>

<form action="" method="post">

    <table border="1">
        <tr>
            <td width="100" height="25">username</td>
            <td width="300" height="25"><input type="text" name="username" size="12" style="width:300px;height:20px">
                <p style="color:red">{{form.username.errors}}</p>
            </td>
            <td width="100" height="25">password</td>
            <td width="300" height="25"><input type="password" name="password" width="300" height="20">
                <p style="color:red">{{form.password.errors}}</p></td>
            <td width="100" height="25">again_password</td>
            <td width="300" height="25"><input type="password" name="again_password" width="300" height="20">
                <p style="color:red">{{form.password.errors}}</p></td>
        </tr>
        <tr>
            <td width="100" height="25">safe_question</td>

            <td width="300" height="25">
                <select name="safe_question">
                    <option value="null">安全问题</option>
                    {% for q in ques %}
                    <option value={{q}}>{{q}}</option>
                    {% endfor %}
                </select>
            </td>

            <td width="100" height="25">email</td>
            <td width="300" height="25"><input type="text" name="email" size="12" style="width:300px;height:20px">
                <p style="color:red">{{form.email.errors}}</p></td>
            <td width="300" height="25">
                <img id="check_code_img" src="/create_code_img/" onclick="refresh_check_code(this)"></td>
        </tr>
        <td width="100" height="25">密保答案</td>
        <td width="300" height="25"><input type="text" name="answer" size="12" style="width:300px;height:20px">
            <p style="color:red">{{form.answer.errors}}</p></td>
        <td width="100" height="25">电话</td>
        <td width="300" height="25"><input type="text" name="tel" size="12" style="width:300px;height:20px">
            <p style="color:red">{{form.tel.errors}}</p></td>
        <td width="100" height="25">验证码</td>
        <td width="300" height="25"><input type="text" name="verifycode" size="12" style="width:300px;height:20px">
            <p style="color:red">{{form.verifycode.errors}}</p>
            {% if verify_error %}
            <p style="color: red;">
                {{ verify_error }}.
            </p>
            {% endif %}

        </td>
        <tr>
            <td width="100" height="25">用户信息</td>
            <td width="600" height="250">
            <textarea name="message" rows="15" cols="30" style="width:590px;height:240px;resize:none">
            The cat was playing in the garden.
            </textarea>
                <p style="color:red">{{form.info.errors}}</p>
            </td>

        </tr>

    </table>
    <input type="submit" value="register">
</form>

{% if person_name %}
<p style="color: red;">
    your name is {{ person_name }}.
</p>
{% endif %}
</body>
</html>